.login{
    width: 100%;
    /* background: gray; */
    background: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png") no-repeat center;
    background-size: cover;
    height: 100vh;

}

.login form{
    width: 80%;
  text-align: center;
    /* background: red; */
    padding-top: 8%;
    margin: 0 auto;
}

.login form .body{
    /* border: 1px solid gray; */
    width: 50%;
    margin:  0 auto;
    height: 50vh;
    /* background: gray; */
    /* padding-top: 8%; */
   
}

.login form .body h1{
    align-items: center;
   color: black;
    margin-top: 15%;
}


.login form .body .id{
    color: black;
    font-size: 25px;
}

.login form .body .pw{
    color: black;
    font-size: 25px;
}

.login form .body .id input{

    outline: none;
    width: 40%;
    height: 5vh;
    font-size: large;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;

}

.login form .body .pw input{
    outline: none;
    width: 40%;
    height: 5vh;
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: black;

}

.login form .body .sumbit{
    width: 80%;
    margin: 5% auto;

}

.login form .body .sumbit input{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 35%;
    height: 5vh;
}

