<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
   <!-- reset.css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css" />
<!-- normalize.css -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
<!-- 사용자 스타일 -->
<link rel="stylesheet" href="./style.css" />

   <link rel="stylesheet" href="./login-css.css">
    

</head>

<body>
    <div class="login">
        <form action="/schedule/calendar" method="POST">

            <div class="body">
                <h1>일정관리</h1>
                <div class="id">
                    #ID :  <input type="text" name="empNo">
                </div>

                <div class="pw">
                    #PW  : <input type="password" name="password">
                </div>
                <div class="sumbit">
                    <input type="submit" value="로그인">
                </div>
            </div>
        </form>
    </div>
</body>

</html>